@page "/orders"



<table class="table">
	<thead>
		<tr>
			<th scope="col">Item Name </th>
			<th scope="col">Quantity</th>
			<th scope="col">Ordered Status</th>
			<th scope="col">Ordered By</th>
			<th scope="col">Ordered At</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var order in _orders)
		{
			<tr>
				<td>
					@{
						var item = ItemService.GetById(order.ItemId);
						<span>@item.Name</span>
					}
				</td>
				<td> @order.Quantity</td>
				<td>
					@{
						var status = order.IsApproved;
						<span>@(status == true ? "Approved" : "Pending")</span>
					}
				</td>
				<td>
					@{
						var user = UserService.GetById(order.OrderedBy);
						<span>@user.Username</span>
					}
				</td>
				<td> @order.OrderedAt</td>
				<td>
					@if (!order.IsApproved)
					{
						<button type="button" class="btn btn-success" @onclick="()=>OrderDialog(order)">Approve Order</button>
					}
					else
					{
						<button type="button" class="btn btn-success">Order Complete</button>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (_showPlaceOrderDialog)
{
	<ModalDialogBox Title="PLace Order" Label="Submit" OnClose="OnPlaceOrder">
		<p>
			Are you sure you want to approve this record?
		</p>
	</ModalDialogBox>
}

@code {
	[CascadingParameter]
	private GlobalState _globalState { get; set; }

	private List<Order> _orders { get; set; }

	private Order _order { get; set; }


	private bool _showPlaceOrderDialog { get; set; }

	protected override void OnInitialized()
	{
		_orders = OrderService.GetAllOrders();
	}


	private void OrderDialog(Order order)
	{
		_order = order;
		_showPlaceOrderDialog = true;
	}

	private void OnPlaceOrder(bool isClosed)
	{
		if (isClosed)
		{
			_showPlaceOrderDialog = false;
		}
		else
		{
			_orders = OrderService.ApproveOrder(_globalState.User.Id, _order.Id, _order.Quantity);
			_showPlaceOrderDialog = false;
		}
	}
}


