@page "/users"


<div class="side-div">
	<div>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
		</div>
	</div>
	<div><button type="button" class="btn btn-primary btn-lg" style="background-color:#005c9f" @onclick="OpenUserDialog">Add Users</button></div>
	
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Username</th>
			<th scope="col">Role</th>
			<th scope="col">Created By</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in _users){
			<tr>
			<td> @user.Username </td>
			<td> @user.Role </td>
			<td>
				@{
					var creator = UserService.GetAllUsers().FirstOrDefault(x => x.Id == user.CreatedBy);
					<span>@(creator == null ? "Administrator" : creator.Username)</span>
				}
			</td>
			<td>
				<button>Delete</button>
				<button>Edit</button>
			</td>
			</tr>
			

		}
	</tbody>
</table>

@if(_showAddUserDialog){
	<ModalDialogBox Title="Add User" Label="Add" OnClose="OnAddItem">
		<form>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Username</label>
				<input @bind="_user.Username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input @bind="_user.PasswordHash" type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="mb-3">
				<label for="text" class="form-label">Choose a role to assign</label>
				<div class="form-check mb-2">
					<label class="form-check-label" for="userRole">@Role.Staff</label>
					<input id="userRole" type="radio" class="form-check-input" name="role" value="@Role.Staff" @onchange="RoleChangeHandler" checked="@(_userRole == Role.Staff)">
				</div>
				<div class="form-check">
					<input id="adminRole" type="radio" class="form-check-input" name="role" value="@Role.Admin" @onchange="RoleChangeHandler" checked="@(_userRole == Role.Admin)">
					<label class="form-check-label" for="adminRole">@Role.Admin</label>
				</div>
			</div>

		</form>
	</ModalDialogBox>
}

@code {
	[CascadingParameter]
	private GlobalState _globalState { get; set; }
	private List<User> _users { get; set; }
	private User _user { get; set; }
	private Role _userRole { get; set; }
	private bool _showAddUserDialog { get; set; }
	private void OpenUserDialog(){
		_showAddUserDialog = true;
		_user = new User();
	}

	protected override void OnInitialized()
	{
		_users = UserService.GetAllUsers();
	}


	private void OnAddItem(bool isClosed){
		if(isClosed){
			_showAddUserDialog = false;
		}
		else{
			_users = UserService.CreateUser(_globalState.User.Id, _user.Username, _user.PasswordHash, _userRole);
			_showAddUserDialog = false;
		}
	}

	private void RoleChangeHandler(ChangeEventArgs e)
	{
		_userRole = (Role)Enum.Parse(typeof(Role), e.Value.ToString());
	}

	//logical part
}
